body {
  font-family: 'Open Sans', sans-serif;
}
h1 {
  color: #333333;
  font-family: 'Open Sans', Arial, sans-serif, cursive;
  font-size: 32px;
  font-weight: bold;
  position: absolute;
  top: 35px;
  left: 150px;
}

h2,
h3,
.card-body > .card-title {
  color: black;
  font-family: 'Open Sans', cursive;
  font-weight: bold;
}

h4 {
  color: #5ea270;
  font-size: medium;
}

span {
  text-decoration: underline; 
  color: #e0e0e0;
  font-size:large
}

i, a{
  color: #00000099; 
  font-family: 'Open Sans', cursive;
  font-size: 20px;
  font-weight:600;
}
p{
  font-family: 'Open Sans', cursive;
  font-size: 17px;
  /* You can also specify other font properties like font-size, font-weight, etc. if needed */
}
i:hover {
  color: #d3d3d3; /* Light grey color */
}

.card-title {
  font-weight: 500;
  font-size: 1.25rem;
}

h2 {
  color: #3046c5;
}

.card-img-overlay .card-title {
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
}

.row-content {
  padding: 50px 0;
  border-bottom: 1px ridge;
  min-height: 200px;
}

.site-footer {
  background-color:#333333;
  padding: 20px 0;
  margin-top: 2rem;
}

.navbar-brand {
  max-width: 4rem;
  margin-right: 2rem;
}

.navbar-brand img {
  width: 150%;
  height: 150%;
  margin-right: rem;
  max-width: 12rem;
}

.navbar-dark {
  background-color: #FFFFFF;
  background-image:  linear-gradient(to right, #FFFFFF, #FFFFFF, #FFFFFF);
  margin-bottom: 2rem;
  min-height: 8rem;
}

.page-enter {
  opacity: 0;
  transform: translateX(-100%);
}

.page-enter-active {
  opacity: 1;
  transform: translateX(0%);
  transition: 300ms ease-out;
}

.page-exit {
  opacity: 1;
}

.page-exit-active {
  opacity: 0;
  transition: 300ms ease-in;
}
